body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #4c4c4c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  background-color: #2d2d2d;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 2rem;
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

#display:focus {
  outline: 2px solid #ff9f43;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #3a3a3a;
  color: white;
  transition: all 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #4d4d4d;
  transform: translateY(-2px);
}

button:active {
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
}

.operator-btn {
  background-color: #ff9f43;
  color: #121212;
}

.operator-btn:hover {
  background-color: #ffb063;
}
.operator-btn:active {
  box-shadow: #ff9f43;
}

.clear-btn {
  background-color: #ee5253;
}

.clear-btn:hover {
  background-color: #ff6b6b;
}
.clear-btn:active {
  background-color: #ff6b6b;
}

.equal-btn {
  background-color: #2e86de;
  grid-column: span 4;
}

.equal-btn:hover {
  background-color: #54a0ff;
}
.equal-btn:active {
  background-color: #54a0ff;
}
