.superDiv{
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: aqua;
}

#mainDiv{
    display: grid;
    grid-template-columns: 100px 100px 100px ;
}

.subDiv{
    width: 200px;
    height: 60px;
    background-color: aliceblue;
}