@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

h1,h2{
    font-family: "Bitcount Grid Single", system-ui;
}

div{
    height: 400px;
    width: 700px;
    
    border: 5px solid #353434;
}

h1{
    background-color: gray;
    
    color: rgb(0, 0, 0);
}

h1{

    font-size: xx-large;
    background: linear-gradient(90deg,  rgb(144, 246, 144), rgb(250, 126, 126));
    text-shadow: 11px 1px 10px rgb(226, 57, 57);

}

h2{
    background: linear-gradient(90deg, rgb(141, 141, 238), rgb(144, 246, 144), rgb(250, 126, 126));
    color: rgb(247, 247, 247);
    text-shadow: 11px 1px 10px rgb(39, 178, 55);
}

p1{
    font-weight: 900;
}

p{

    color: rgb(34, 0, 226);
    text-shadow: 8px 1px 4px rgba(219, 120, 120, 0.888);

}

p{
    border: 3px solid #000;
}