
#bulb{
    padding: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    width: fit-content;
    
}

button{
    margin: 10px;

}

input{
    margin-top: 50px;
    width: 200px;
    height: 50px;
}

#smartbulb{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
}

.on{
    background-color: yellow;
}

#hoverbulb{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
    
}

.color{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: default;

}

#coloplate{
  display: flex;
  gap: 10px;
  margin: 20px;
    
}

#c1{
    background-color: red;
}
#c2{
    background-color: green;
}
#c3{
    background-color: blue;
}
#c4{
    background-color: black;
}
#c5{
    background-color: purple;
}
#c6{
    background-color: gray;
}
#c7{
    background-color: violet;
}
