.outterbox{
    display: flex;
    justify-content: space-between;
    height: 550px;
    border: 3px solid #000;
    background-color: rgb(154, 154, 154);
    
}

.innerbox{
    text-align: center;
    height: 350px;
    margin: 10px;
    margin-top: 90px;
    width: 900px;
    border: 3px solid #000;
}

.innerbox2{

    height: 350px;
    margin: 10px;
    margin-top: 90px;
    width: 600px;
}

.selector{
    margin-left: 150px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

input{
    width: 100px;
    height: 40px;
}