#d1,#d2{
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    display: inline-block;
}

#s1{
    width: 300px;
    height: 400px;
    border: 2px dashed #ff0a0a;
    display: block;

}

