@import "tailwindcss";

:root {
  /* Primary */
  --color-primary: #161E54;
  --color-primary-hover: #0F163F;

  /* Secondary */
  /* --color-secondary: #F16D34; */
  /* --color-secondary-hover: #D85F2E; */

  --color-secondary: rgb(221, 94, 221);
  --color-secondary-hover: rgb(179, 12, 179);  
  

  /* Background & Text */
  --color-background: #BBE0EF;
  --color-text: #161E54;

  /* Accent */
  --color-accent: #FF986A;
}