
body{
    padding-left: 63px;
    padding-right: 63px;
}

#navbar {
    background: transparent; 
    backdrop-filter: blur(100px);
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
    opacity: 90%;
    

    .item{
        font-size: large;
    }

    .signin:hover{
        background-color: rgb(232, 232, 232);
    }

    .signin{
        border: 0;
        color: black;
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px; 
    }

    .blocks:hover{
        box-shadow: 2px 5px 15px #a3a3a4;
    }
    
    .blocks{
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 10px 20px;
    }

    div{
        display: flex;
        gap: 30px;
    }

    position: sticky;
    top: 0;
}

#frontcon{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 20px;    
}

#portofolio,#photo{
    display: inline-block;

    h1{
        font-size: xxx-large;
    }

    img{
        border-radius: 20px;
        height: 580px;
        width: 640px;
    }

}

#portofolio{
    margin-top: 80px;
    margin-left: 20px;

    h1{
        font-size: xxx-large;
    }

    .terms{
        color: gray;
    }

    .content{
        color: gray;
        margin-right: 100px;
    }

    p{
        font-size: x-large;
    }

    #mail{
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        width: 350px;
        height: 40px;
    }

    #mail:placeholder{
        font-size: large;
    }

    button:hover{
        box-shadow: 2px 5px 15px #a3a3a4;
    }

    button{
        background: black;
        color: white;
        margin-left: 15px;
        border-radius: 10px;
        height: 45px;
        width: 150px;
    }
}

#seconddiv{


    h3{
        margin-top: 100px;
        text-align: center;
    }

    #logos{
        margin-top: 50px;
        margin-left: 140px;
        display: flex;
        align-items: center;
    }

    img{
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

#skills{
    .head2{
        text-align: center;
        font-size: x-large;
    }

    .prg{
        color: #868687;
        font-size: larger;       
        text-align: center;
    }
}

#third{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;


    .thirdsub{
        margin-top: 50px;
        align-items: center;
        text-align: center;
        width: 400px;
        height: 250px;
    }
    #stack{
        padding-top: 10px;
        height: 80px;
    }
    #icon{
        height: 90px;
    }

    h2{
        font-size: larger;
    }

    .blabla{
        margin-right: 30px;
        margin-left: 30px;
        font-size: large;
        color: #868687;
    }
}

#fourth{

    #head4{
        margin-top: 100px;
        text-align: center;
        font-size: x-large;
    }

    .head4prg{
        color: #868687;
        text-align: center;
        font-size: large;
        font-weight: 400;
    }

}

#projects{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;

    .project{
        margin-top: 100px;
        height: 400px;
        width: 300px;
    }

    h3{
        font-size: x-large;
        text-align: left;
    }

    .procon{
        font-size: large;
        color: #868687;
        text-align: left;
    }

    .img{
        height: 200px;
        width: 300px;
    }

    #detailbutton{
        display: flex;
    }

    .butsee:hover{
        box-shadow: 2px 5px 15px #a3a3a4;
    }
    
    .butsee{
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 5px 18px;
    }

}

#fifth{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    border: 1px solid #000;

    h2{
        font-size: xx-large;
    }

    p{
        color: #868687;
        font-size: large;
    }

    #subfifth{
        margin-left: 2%;
        margin-right: 4%;
        border: 1px solid #000;
        width: 550px;
        height: 500px;
    }

    #subfifth2{
        display: grid;
        grid-template-columns: auto ;
    }

    .intext{
        border: 1px solid #000;
    }

    }
    .imgtext{
        border: 1px solid #000;
        height: 90px;
    }

    .viewmore:hover{
        background-color: rgb(232, 232, 232);
    }

    .viewmore{
        border: 0;
        color: black;
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px; 
    }



