#outter{
    margin-top: 150px;
    width: 700px;
    margin-left: 380px;
    height: 500px;
    background-color: #b7d3ff;
}

#inner{
    margin-top: 50px;
}

button {
    transition: 0.5s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}