#mainDiv{
    width: 550px;
    height: 700px;
    border: 1px solid #f8f7f7;
    margin-left: 500px;

}

#resume{
    width: 550px;
    height: 700px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

#profile{
  width: 170px;
  border: 1px solid #131212;
  background-color: rgb(52, 66, 87);
}

#skill{
  width: 380px;
  border: 1px solid #000000;
}

img{
  border: 4px solid #000;
  border-radius: 400px;
  height: 130px;
  width: 130px;
  margin-top: 15px;
}

#photoname{
  hr{
    margin-left: 10px;
    margin-right: 10px;
  }
  text-align: center
}

#name{
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

#role{
  font-size: small;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: beige;
}

#info{
  color: white;
  margin-left: 20px;
  font-size: x-small;
  margin-top: 20px

}

#title{
  color: #f8f7f7;
  font-size: small;
}