#box{
    border: 2px solid #000;
    
    position: absolute;
    height: 100px;
    width: 100px;
    animation: movingbox 4 s linear infinite;
}


@keyframes movingbox {

    0%{
        background-color: blue;
        top: 0px;
        left: 0px;
    }
    
    25%{
        background-color: red;
        top: 0px;
        left: 500px;
    }

    50%{
        background-color: yellow;
        top: 500px;
        left: 500px;
    }

    75%{
        background-color: green;
        top: 500px;
        left: 0px;
    }

    100%{
        background-color: blue ;
        top: 0px;
        left: 0px;
    }
}