a:hover{
    color: orange !important;
}


a:active{
    color: red !important;
}

#home{
    height: 100vh;
}

.card{
    height: 500px;
}

#productRow{
    margin-left: 100px;
    border: 1px solid #000;
}

.container{
    border: 1px solid #000;
}

img{
    height: 300px;
    mar
}

