body{
    background-color: aliceblue;
    background: url(gradient-black-technology-background_23-2149209060.avif);
    background-size: cover ;
}

#mainbox{
    
    color: aliceblue;
    box-shadow: 19px 19px 30px #7a7a7b;
    width: 500px;
    height: 500px;
    margin-left: 500px ;
    margin-top: 100px;
    
}

input{
    color: #ffffff;
    background-color: rgb(86, 87, 87);
}

h1,div{
    padding-top: 30px;
    color: #ffffff;
    text-align: center;
}

h1:hover{
    color: rgb(108, 220, 240);
    
}

#back,#submit{ 
    font-size: medium;
    border-radius: 25px;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

#back{
    background-color: rgb(237, 15, 15);   
    color: rgb(255, 255, 255);
}

#submit{
    background-color: rgb(35, 235, 35);
}

#back:active,#submit:active{
    background-color: grey;
    color: navajowhite;
}

#loginname,#loginpassword,#submition{
    margin-top: 30px;
}
