body{
    background-color: rgb(0, 128, 255);
}

#loginbox{
    background-color: white;
    height: 400px;
    width: 350px;
    border: 1px solid #000;
    border-radius: 9px; 
    
}

h1{
    font-size: x-large;
}

#registerbox{
    background-color: white;
    height: 400px;
    width: 350px;
    border: 1px solid #000;
    border-radius: 9px;
}